     <!-- The Modal -->
<div class="modal" id="bookingTrip">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Đặt vé</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body" id="bookingTripBody">
              Dang tải . .. ...
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
      
          </div>
        </div>
      </div>
    <!-- End Modal   --> 
    <% for(var i=0; i<trips.length; i++) { %>
        <div style="border: 1px dotted black;padding : 1em;">
            <h4>Điểm đi:
                <strong>
                    <%= trips[i].departure %></strong>
            </h4>
            <h4>Thời gian đi:
                <strong>
                    <%= moment(trips[i].departureTime, "HH:mm:ss").format("hh:mm A (DD-MM-YYYY)") %></strong>
            </h4>
            <h4>Điểm đến:
                <strong>
                    <%= trips[i].destination %></strong>
            </h4>
            <h4>Thời gian đến:
                <strong>
                    <%= moment(trips[i].arrivialTime, "HH:mm:ss").format("hh:mm A (DD-MM-YYYY)") %>
                </strong>
            </h4>

            <button class="btn btn-default"  onclick="getInfoTrip('<%= trips[i]._id %>')">Đặt vé</button>
        </div>
        <br/> 
        <% } %>
        
    <% if (pages > 0) { %>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
            <% if (current == 1) { %>
                <li class="page-item disabled"><a class="page-link">First</a></li>
            <% } else { %>
                <li class="page-item"><a class="page-link" href="/list-trips/1">First</a></li>
            <% } %>
            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
            <% if (i !== 1) { %>
                <li class="page-item disabled"><a class="page-link">...</a></li>
            <% } %>
            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                <% if (i == current) { %>
                    <li class="page-item active"><a class="page-link"><%= i %></a></li>
                <% } else { %>
                    <li class="page-item"><a class="page-link" href="/list-trips/<%= i %>"><%= i %></a></li>
                <% } %>
                <% if (i == Number(current) + 4 && i < pages) { %>
                    <li class="page-item disabled"><a>...</a></li>
                <% } %>
            <% } %>
            <% if (current == pages) { %>
                <li class="page-item disabled"><a class="page-link">Last</a></li>
            <% } else { %>
                <li class="page-item"><a class="page-link" href="/list-trips/<%= pages %>">Last</a></li>
            <% } %>
        </ul>
    </nav>
    <% } %>
    
    <script>
        function getInfoTrip(id) {
            $('#bookingTrip').modal('show');
            $.ajax({
                type: 'GET',
                url: '/trips/'+id,
            }).done(function (res) {
                $("#bookingTripBody").html(res);
            }).fail(function (data) {
            });
        }
    </script>